.favourite-list__item{
    height: 47px;
    background-color: #fff;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
}

.favourite-list__item .item__title{
    cursor: pointer;
}

.favourite-list__item .item__btns{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favourite-list__item .item__edit-btn, .favourite-list__item .item__delete-btn{
    background-color: inherit;
    opacity: 0.0;
    border: none;
    outline: none;
}

.favourite-list__item:hover .item__edit-btn, .favourite-list__item:hover .item__delete-btn{
    background-color: inherit;
    opacity: 0.3;
}

.favourite-list__item:hover .item__edit-btn:hover, .favourite-list__item:hover .item__delete-btn:hover{
    background-color: inherit;
    opacity: 0.6;
}